Code/
Desktop/
Documents/
Downloads/
Music/
Notes/
Pictures/
Public/
Templates/
Videos/

# system caches
.log/
.cache/

# package manager
.npm/
.cargo/

# development environment files
.node_repl_history
.rustup/
.dotnet/
.giget/
.wget-hsts
.lldb/
bin/

# session and history files
.bash_logout
.bash_history
.python_history
.lesshst
.motd_shown
.sudo_as_admin_successful
.zoxide.nu
.zcompdump
.histfile
.zsh_history
.zcompdump-hp-elitebook-5.8.1.zwc
.zcompdump-hp-elitebook-5.8.1
.oh-my-zsh/


# Docker related files
.docker/

# keys and configuration
.ssh/
.gnupg/

# cloud provider configuration
.aws
.azure

# user-specific configuration
.local/
.z

# editor related files
.vscode-server/
.viminfo

# jupyter lab 
.ipython/
.jupyter/

.java
.mozilla
.pki
.nuget
.nvm
.zcompdump*
.var

# configs
.config/helix/runtime/grammars
.config/lazygit/state.yml
.config/rclone/rclone.conf
.thunderbird
.config/menus/applications-merged
.gnome/apps
.config/eog
.config/enchant
.config/libvirt/qemu
.config/1Password/
.config/JetBrains/
.config/libreoffice
.config/discord/
.config/google-chrome*
.config/chromium*
.config/ibus/
.config/microsoft-edge-dev/
.config/pulse/
.config/simple-scan/
.config/vivaldi*
.config/gnome*
.config/gtk*
.config/BraveSoftware/
.config/nautilus
.config/cef_user_data/
.config/autostart/
.config/abrt/
.config/dconf/
.config/evolution/
.config/goa*
.config/.gsd-keyboard.settings-ported
.config/dleyna-renderer-service.conf
.config/gnome-initial-setup-done
.config/GNOME-xdg-terminals.list
.config/mimeapps.list
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xdg-terminals.list
.config/activitywatch/
.config/github-copilot/
.config/libvirt/storage
.config/menus
