1Password/
JetBrains/
libreoffice
discord/
google-chrome*
chromium*
ibus/
microsoft-edge-dev/
pulse/
simple-scan/
vivaldi*
gnome*
gtk*
BraveSoftware/
nautilus
cef_user_data/
autostart/
abrt/
dconf/
evolution/
goa*
.gsd-keyboard.settings-ported
dleyna-renderer-service.conf
gnome-initial-setup-done
GNOME-xdg-terminals.list
mimeapps.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
activitywatch/
github-copilot/
